PORT=3000
MONGODB_URI=mongodb+srv://shraddhasajwan2004_db_user:Shraddha%40123@smartdustbin.7kzjoc0.mongodb.net/?appName=SmartDustbin
NODE_ENV=development
VITE_GOOGLE_MAPS_API_KEY=AIzaSyAk3f8GkMpAyCHOkluagZDUASpXhDXmIvE
